
DATABASE_URL="your_mongodb_connection_string_here"
FRONTEND_URL="http://localhost:3000"
BACKEND_URL="http://localhost:5000"
PAYMENT_URL="http://localhost:3002"

PORT=3000
NODE_ENV=development
LOG_LEVEL=info
REFRESH_TOKEN_SECRET=SomeRandomStringForRefreshTokenSecret
ACCESS_TOKEN_SECRET=SomeRandomStringForAccessTokenSecret

AWS_ACCESS_KEY=AWS_ACCESS_KEY_ID
AWS_BUCKET_NAME=AWS_BUCKET_NAME
AWS_BUCKET_REGION=AWS_BUCKET_REGION
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

SENDING_EMAIL=SUPPORT_EMAIL_ADDRESS
MAIL_PASS=SUPPORT_EMAIL_PASSWORD

REDIS_HOST=REDIS_HOST_URL
REDIS_PORT=REDIS_PORT_NUMBER
REDIS_USERNAME=default
REDIS_PASSWORD=REDIS_PASSWORD

RECAPCHA_KEY=GENERATE_KEY_FROM_GOOGLE_RECAPCHA
RECAPCHA_SECRET_KEY=GENERATE_SECRET_KEY_FROM_GOOGLE_RECAPCHA

PHONEPE_CLIENT_ID=GENERATE_PHONEPE_CLIENT_ID
PHONEPE_CLIENT_SECRET=GENERATE_PHONEPE_CLIENT_SECRET
PHONEPE_CLIENT_VERSION=1
PHONEPE_MERCHANT_USERNAME=demo_user
PHONEPE_MERCHANT_PASSWORD=demo_password

OPEN_ROUTER_MANAGEMENT_KEY=OPEN_ROUTER_MANAGEMENT_API

CURRENCYFREAKS_API_KEY=CURRENCYFREAKS_API_KEY